@charset "utf-8";

.container{max-width: 1240px;}


/* 공통 */
.color{color: #00afad;}
.content_wrap{padding: 100px 0;}

@media (max-width: 1024px){

    .content_wrap{padding: 50px 0;}

}

@media (max-width: 576px){

    .content_wrap{padding: 35px 0;}

}

.sub_wrap{position: relative;}
.sub_wrap .sub_img{height: 517px; overflow: hidden;}
.sub_wrap .sub_img img{display: block; width: 100%; height: 100%;}
.sub_wrap .sub_tit{width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -42%);}
.sub_wrap .sub_tit .box{display: flex; margin-left: calc(50% - 390px);}
.sub_wrap .sub_tit .box .text{padding-top: 102px; text-align: right;}
.sub_wrap .sub_tit .box .img_box .img{padding: 473px 424px 0 0; background-repeat: no-repeat; background-position: center; background-size: auto 100%; animation: effect 1s .6s both;}
.sub_wrap .sub_tit .box .img_box .img1{background-image: url(../images/sub/img_01.png);}
.sub_wrap .sub_tit .box .img_box .img2{background-image: url(../images/sub/img_02.png);}
.sub_wrap .sub_tit .box .img_box .img3{background-image: url(../images/sub/img_03.png);}
.sub_wrap .sub_tit{font-size: 26px; color: #000;}
.sub_wrap .sub_tit .box .text span{display: block; color: #000; font-size: 26px; animation: effect 1s .3s both;}
.sub_wrap .sub_tit h3{margin-bottom: 15px; color: #000; font-size: 50px; 
animation: effect 1s .4s both; line-height: 1.3; font-weight: 700;}
.sub_wrap .sub_tit p{color: #000; font-size: 26px; letter-spacing: -2px; font-weight: 500; animation: effect 1s .5s both; }

@keyframes effect{

    0%{opacity: 0; transform: translateY(50px);}
    100%{opacity: 1; transform: translateY(0);}

}

@media(max-width: 1480px){

    .sub_wrap .sub_tit .box{margin-left: calc(50% - 421px);}

}

@media (max-width: 1024px){

    .sub_wrap .sub_img{height: 394px;}
    .sub_wrap .sub_tit .box .text span{font-size: 22px;}
    .sub_wrap .sub_tit h3{font-size: 36px;}
    .sub_wrap .sub_tit p{font-size: 22px;}
    .sub_wrap .sub_tit{transform: translate(-50%, -43%);}
    .sub_wrap .sub_tit .box{margin-left: calc(50% - 320px);}
    .sub_wrap .sub_tit .box .text{margin-right: -27px; padding-top: 56px;}
    .sub_wrap .sub_tit .box .img_box .img{padding: 319px 337px 0 0;}
    
}

@media (max-width: 860px) {
    
    .sub_wrap .sub_tit{transform: translate(-50%, -47%);}
    .sub_wrap .sub_tit .box .text span{font-size: 20px;}
    .sub_wrap .sub_tit h3{font-size: 32px;}
    .sub_wrap .sub_tit p{font-size: 20px;}
    .sub_wrap .sub_tit .box{margin-left: calc(50% - 304px);}
    .sub_wrap .sub_tit .box .text{padding-top: 60px; white-space: nowrap;}
    .sub_wrap .sub_tit .box .img_box .img{padding: 319px 337px 0 0;}

}

@media (max-width: 660px){

    .sub_wrap .sub_img{height: 323px;}
    .sub_wrap .sub_tit{transform: translate(-50%, -50%);}
    .sub_wrap .sub_tit .box{margin-left: calc(50% - 256px);}
    .sub_wrap .sub_tit{font-size: 16px;}
    .sub_wrap .sub_tit h3{font-size: 26px;}
    .sub_wrap .sub_tit p{font-size: 16px;}
    .sub_wrap .sub_tit .box .text{padding-top: 43px;}
    .sub_wrap .sub_tit .box .img_box .img{padding: 243px 216px 0 0;}

}

@media (max-width: 576px){

    .sub_wrap .sub_img{margin-bottom: 15px; height: 286px;}
    .sub_wrap .sub_tit .box{margin-left: calc(50% - 199px);}
    .sub_wrap .sub_tit .box .text span{font-size: 14px;}
    .sub_wrap .sub_tit h3{font-size: 20px;}
    .sub_wrap .sub_tit p{font-size: 14px;}
    .sub_wrap .sub_tit .box .text{margin-right: -13px; padding-top: 30px;}
    .sub_wrap .sub_tit .box .img_box .img{padding: 186px 186px 0 0;}

}

@media (max-width: 414px){

    .sub_wrap .sub_tit{transform: translate(-50%, -48%);}
    .sub_wrap .sub_img{height: 176px;}
    .sub_wrap .sub_tit .box .text span{font-size: 12px;}
    .sub_wrap .sub_tit h3{margin-bottom: 6px; font-size: 14px;}
    .sub_wrap .sub_tit p{font-size: 12px;}
    .sub_wrap .sub_tit .box{margin-left: calc(50% - 150px);}
    .sub_wrap .sub_tit .box .text{margin-right: -6px; padding-top: 16px;}
    .sub_wrap .sub_tit .box .img_box .img{padding: 130px 130px 0 0;}

}


.lesson_wrap .img_box{ position: relative;}
.lesson_wrap .img_box img{display: block; max-width: 748px!important; width: 100%; margin: 0 auto;}
.lesson_wrap .img_box .view{display: none; width: 40px; height: 40px; position: absolute; bottom: 10px; right: 20px; background: url(../images/sub/view.png) no-repeat;}

.lesson_wrap h4{margin: 20px 0; font-size: 30px; text-align: center;}

.lesson_wrap .list_wrap{text-align: center;}
.lesson_wrap .list_wrap .list{display: inline-block;}
.lesson_wrap .list{margin: 30px 0 30px; text-align: left;}
.lesson_wrap .list li{position: relative; padding-left: 11px; font-size: 20px; word-break: keep-all;}
.lesson_wrap .list li::before{content:''; position: absolute; top:13px; left:0; width: 3px; height: 3px; background-color: #333; border-radius: 50px;}
.lesson_wrap h5.tit{position: relative; margin: 100px 0 60px; padding-top: 69px; font-size: 25px; text-align: center;}
.lesson_wrap h5.tit br{display: block!important;}
.lesson_wrap div.number{position: relative;}
.lesson_wrap div.number1::after{background: url(../images/sub/icon_01.png)no-repeat}
.lesson_wrap div.number2::after{background: url(../images/sub/icon_02.png)no-repeat}
.lesson_wrap div.number3::after{left: 452px!important; transform: none!important; top: -80px!important; background: url(../images/sub/icon_03.png)no-repeat}
.lesson_wrap div.number::after{content:''; padding: 50px 50px 0 0; position: absolute; left: 50%; transform: translateX(-50%); top:0; ; background-size:100% auto;}
.lesson_wrap .consulting_wrap.st{margin: -100px 0 70px;}
.lesson_wrap .consulting_wrap{position: relative;  padding: 50px 20px; background-color: #f0f0f0; text-align: center;}
.lesson_wrap .consulting_wrap p{font-size: 20px; margin-bottom: 10px;}
.lesson_wrap .consulting_wrap p br{display: none;}
.lesson_wrap .consulting_wrap strong{display: block; font-size: 40px;}
.lesson_wrap .consulting_wrap ul li{font-size: 18px;}
.lesson_wrap .consulting_wrap .link_wrap{margin: 30px 0 0; display: flex; gap: 0 15px; justify-content: center;}
.lesson_wrap .consulting_wrap .link_wrap a{display: block; width: 150px; height: 45px; line-height: 43px; background-color: #000; color: #fff; text-align: center; border-radius: 5px;}
.lesson_wrap .catalogue_wrap{padding: 100px 0; text-align: center;}
.lesson_wrap .catalogue_wrap p{font-size: 25px;}
.lesson_wrap .catalogue_wrap p br{display: none;}
.lesson_wrap .catalogue_wrap .img{display: inline-block; margin:50px 0 60px; padding: 419px 558px 0 0; background: url(../images/sub/img2.png)no-repeat center; background-size: auto 100%!important;} 
.lesson_wrap .catalogue_wrap .download_btn{display: block; width: 100px; height: 40px; margin: 0 auto; background: #000; color: #fff; border-radius: 5px; cursor: pointer;}

.lesson_wrap .index_wrap{text-align: center;}
.lesson_wrap .index_wrap .pdf{margin-top: 20px; overflow: hidden;}
.lesson_wrap .index_wrap .pdf iframe{width: 100%;}
.lesson_wrap .index_wrap h5{margin-bottom: 20px; font-size: 30px; font-weight: 700;}
.lesson_wrap .index_wrap .tab_list{margin-bottom: 20px; display: flex; }
.lesson_wrap .index_wrap .tab_list li{flex: 1;}
.lesson_wrap .index_wrap .tab_list li:last-child a{border-right: 0;}
.lesson_wrap .index_wrap .tab_list li a{display: block; border-right: 1px solid #fff; color: #fff; padding: 16px 6px; background-color:#00afad;}
.lesson_wrap .index_wrap .tab_content_wrap{margin: 15px 0;}
.lesson_wrap .index_wrap .tab_content_wrap .tab_content{background-color: #c77474; height: 500px; line-height: 500px; text-align: center; color: #fff; font-size: 22px;}

.lesson_wrap .box{margin: 50px 0 60px;}
.lesson_wrap .box2 ul{margin-top: 70px; display: flex; justify-content: center;}
.lesson_wrap .box2 ul li{width: 303px; position: relative; padding-top: 116px; text-align: center;}
.lesson_wrap .box2 ul li span{display: block; color: #000; font-size: 18px; line-height: 1.3; font-weight: 500;}
.lesson_wrap .box2 ul li span br{display: block!important;}
.lesson_wrap .box2 ul li .icon{position: absolute; top:0; left: 50%; transform: translateX(-50%); background-size: auto 100%!important; }
.lesson_wrap .box2 ul li .icon1{padding: 98px 98px 0 0; background: url(../images/sub/icon01.png)no-repeat;}
.lesson_wrap .box2 ul li .icon2{top: 8px; padding: 84px 84px 0 0; background: url(../images/sub/icon02.png)no-repeat;}
.lesson_wrap .box2 ul li .icon3{padding: 98px 98px 0 0; background: url(../images/sub/icon03.png)no-repeat;}
.lesson_wrap .box3 {margin: 170px 0 100px calc(50% - 480px);}
.lesson_wrap .box3 ul{gap: 20px 0; /*margin:70px 0 60px calc(50% - 240px);*/}
.lesson_wrap .box3 ul li{position: relative; margin-bottom: 20px; padding-left: 27px; font-size: 18px; color: #000;}
.lesson_wrap .box3 ul li br{display: none;}
.lesson_wrap .box3 ul li::before{content: ''; padding: 15px 18px 0 0; position: absolute; top:5px; left:0; background: url(../images/sub/icon2.png)no-repeat; background-size: auto 100%;;}
.lesson_wrap .box3 .left{position: relative; width: 500px; flex-shrink: 0;}
.lesson_wrap .box3 .video_wrap{position: relative; padding-top: 74%; height: 0;}
.lesson_wrap .box3 .video_wrap video{position: absolute; top:0; left:0; right:0; bottom: 0; width: 100%; height: 100%; object-fit: cover;}
.lesson_wrap .box3 .rayout_box{display: flex; align-items: flex-start;}
.lesson_wrap .box3 .right{flex: 1;}
.lesson_wrap .box3 .right h5.tit{padding-top: 30px; margin-top: 0; text-align: left;}

@media (max-width: 1024px) {
    
    .lesson_wrap .consulting_wrap.st{margin-top: -75px!important;}
    .lesson_wrap .catalogue_wrap p br{display: block;}
    .lesson_wrap h4{font-size: 26px;}
    .lesson_wrap .list li{font-size: 18px;}
    .lesson_wrap .list{margin: 20px 0;}
    .lesson_wrap .box{margin: 30px 0 40px;}
    .lesson_wrap .box2 ul{margin-top: 38px;}
    .lesson_wrap h5.tit{padding-top: 67px; margin: 70px 0 50px; font-size: 22px;}
    .lesson_wrap .img_box img{max-width: 750px;}
    .lesson_wrap .box2 ul li span{font-size: 16px;}
    .lesson_wrap .box3 ul li{font-size: 16px;}
    .lesson_wrap .consulting_wrap p{font-size: 18px;}
    .lesson_wrap .consulting_wrap strong{font-size: 32px;}
    .lesson_wrap .consulting_wrap ul li{font-size: 16px;}
    .lesson_wrap .consulting_wrap{padding: 35px 20px;}
    .lesson_wrap .catalogue_wrap{padding: 50px 0;}
    .lesson_wrap .index_wrap h5{font-size: 26px;}
    .lesson_wrap .catalogue_wrap .img{padding: 267px 300px 0 0;}
    .lesson_wrap .index_wrap .tab_list li a{padding: 10px 0 ;}
    .lesson_wrap .catalogue_wrap p{font-size: 22px;}

    .lesson_wrap .index_wrap .pdf iframe{width: 100%;}
    .lesson_wrap .box3{margin-top: 175px;}
    .lesson_wrap div.number3::after{left:50%!important; transform: translateX(-50%)!important;}
    
}

@media (max-width: 860px){

    .lesson_wrap .box{margin: 0;}
    .lesson_wrap .box3{margin-top: 175px;}
    .lesson_wrap .box3 .rayout_box{display: block; margin: 59px 0;}
    .lesson_wrap .box3 .left{width: 100%;}
    .lesson_wrap .box3 .right h5.tit{text-align: center;}
    .lesson_wrap .box3 ul{margin: 0 0 0 calc(50% - 126px);}
    .lesson_wrap .rayout_box{margin: 118px 0 69px;}

}

@media (max-width: 768px) {

    .lesson_wrap .box2 ul{gap: 0 12px;}
    .lesson_wrap h4{font-size: 24px;}
    .lesson_wrap .list li{font-size: 16px;}
    .lesson_wrap .list{margin: 15px 0;}
    .lesson_wrap .box{margin: 20px 0 30px;}
    .lesson_wrap h5.tit{margin: 60px 0 40px; font-size: 20px;}
    .lesson_wrap .box3 ul{margin: 35px 0 35px calc(50% - 141px)}
    .lesson_wrap .consulting_wrap p{font-size: 16px;}
    .lesson_wrap .consulting_wrap strong{font-size: 24px;}
    .lesson_wrap .consulting_wrap{padding: 25px 10px;}
    .lesson_wrap .catalogue_wrap{padding: 35px 0;}
    .lesson_wrap .index_wrap h5{font-size: 22px;}
    .lesson_wrap .catalogue_wrap .img{padding: 200px 300px 0 0;}
    .lesson_wrap .catalogue_wrap p{font-size: 20px;}
    .lesson_wrap .consulting_wrap .link_wrap a{width: 126px; height: 40px; line-height: 38px;}
    .lesson_wrap .box2 ul li{width: 238px; padding-top: 100px;}
    .lesson_wrap .box2 ul li .icon1{padding: 86px 86px 0 0;}
    .lesson_wrap .box2 ul li .icon2{padding: 72px 96px 0 0;}
    .lesson_wrap .box3{margin-top: 175px!important;}
    .lesson_wrap .consulting_wrap.st{margin: 0 0 41px;}
    
}

@media (max-width: 660px){

    .lesson_wrap .box2 ul{margin-top: 60px; flex-direction: column; align-items: center;}
    .lesson_wrap .box2 ul li{width: 100%; margin-bottom: 50px;}
    .lesson_wrap .box2 ul li:last-child{margin-bottom: 0;}
    .lesson_wrap .box2 ul li .icon2{top: 16px; padding: 72px 72px 0 0;}
    .lesson_wrap .box2 ul li .icon3{padding: 83px 81px 0 0;}

}

@media (max-width: 576px) {

    .lesson_wrap h5.tit{margin: 60px 0 30px; padding-top: 56px; font-size: 18px;}
    .lesson_wrap .box2 ul li{padding-top: 90px;}
    .lesson_wrap .box2 ul li span{font-size: 14px;}
    .lesson_wrap h4{font-size: 22px;}
    .lesson_wrap div.number::after{padding: 40px 40px 0 0;}
    .lesson_wrap .box2 ul li .icon1{padding: 76px 76px 0 0;}
    .lesson_wrap .box2 ul li .icon2{padding: 62px 62px 0 0;}
    .lesson_wrap .box3 ul{flex-direction: column; align-items: center; margin: 35px 0 35px}
    .lesson_wrap .catalogue_wrap p{font-size: 18px;}
    .lesson_wrap .consulting_wrap strong{font-size: 20px;}
    .lesson_wrap .index_wrap .tab_list li a{padding: 8px 0; font-size: 14px;}
    .lesson_wrap .index_wrap h5{font-size: 20px;}
    .lesson_wrap .img_box .view{display: block;}
    .lesson_wrap .consulting_wrap p br{display: block;}
    .lesson_wrap .box2 ul li p br{display: block;}

    .lesson_wrap .box3{margin-top: 135px!important;}
    .lesson_wrap div.number3::after{top: -66px!important;}
    
}

@media (max-width: 480px){

    .lesson_wrap h5.tit + .img{padding: 322px 0 0 0;}

}

@media (max-width: 414px){

    .lesson_wrap .consulting_wrap.st{margin-top: -59px!important;}
    .lesson_wrap h5.tit + .img{padding: 280px 0 0 0;}
    .lesson_wrap .list li{font-size: 14px;}
    .lesson_wrap .list li::before{top: 9px;}
    

}

/* 학원소개 */
.sub_wrap.st{}
.sub_wrap.st .sub_img{height: 1105px;}
.sub_wrap.st .sub_tit{height: 100%; left: 0; top:0; transform: none;}
.sub_wrap.st .sub_tit .box h3{margin-bottom: 100px; text-align: left; font-size: 50px; font-weight: 500;}
.sub_wrap.st .sub_tit .box p{text-align: left; font-size: 28px;}
.sub_wrap.st .sub_tit .box{margin-left: 0; position: absolute; top: 50%; transform: translateY(-50%); display: inline-block; padding: 100px 35px 180px 35px; background-color: rgba(255,255,255,.5);}
.introduce_wrap{margin-top: -100px;}
.introduce_wrap .introduce_content_wrap{/*height: 1000px;*/ background-color: #E2DFD8;}
.introduce_wrap .introduce_content{position: relative; padding: 100px 0; display: flex; gap: 0 100px; align-items: center; justify-content: center;}
.introduce_wrap .introduce_content .img_box .img{padding: 548px 620px 0 0; background-image: url(../images/sub/content_img.png); background-repeat: no-repeat; background-size: auto 100%;}
.introduce_wrap .introduce_content .text_box h4{margin-bottom: 30px; position: relative; padding: 0 15px 30px 0; font-size: 40px; font-weight: 500; line-height: 1.3;}
.introduce_wrap .introduce_content .text_box h4::after{content: ''; position: absolute; left:0; right:0; bottom: 0; height: 1px; background-color: #00afad;}
.introduce_wrap .introduce_content .text_box p{margin-bottom: 30px; font-size: 22px;}
.introduce_wrap .introduce_content .text_box h5{margin-bottom: 30px; font-size: 30px;}
.introduce_wrap .introduce_content .text_box ul li{position: relative; padding-left: 20px; font-size: 20px;}
.introduce_wrap .introduce_content .text_box ul li::before{content: ''; left: 0; position: absolute; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; background-color: #333; border-radius: 50px;}
.com_view{position: absolute; padding-right: 25px; right:0; bottom: 50px; font-size: 18px; white-space: nowrap;}
.com_view::after{content: ''; position: absolute; top:6px; right:0;  padding: 16px 16px 0 0; background: url(../images/sub/arrow1.png)no-repeat;}
.environment_wrap{background-color: #FDFAF5;}
.environment_wrap .environment{padding: 100px 0; display: flex; align-items: flex-start; justify-content: space-between; position: relative;}
.environment_wrap .environment h4{position: relative; padding-bottom: 30px; font-size: 40px; font-weight: 500; line-height: 1.3;}
.environment_wrap .environment h4::after{content: ''; position: absolute; bottom: 0; left:0; right:0; height: 1px; background-color: #00afad;}
.environment_wrap .environment ul li{position: relative; margin-bottom: 50px; padding-left: 125px;}
.environment_wrap .environment ul li::before{content: ''; padding: 78px 78px 0 0; position: absolute; left:0; top: 11px; background-size: auto 100%; background-repeat: no-repeat;}
.environment_wrap .environment ul li:nth-child(1):before{background-image: url(../images/sub/icon_1.png);}
.environment_wrap .environment ul li:nth-child(2):before{padding: 66px 71px 0 0; background-image: url(../images/sub/icon_2.png);}
.environment_wrap .environment ul li:nth-child(3):before{padding: 65px 73px 0 0; background-image: url(../images/sub/icon_3.png);}
.environment_wrap .environment ul li h5{margin-bottom: 10px; font-size: 26px;}
.environment_wrap .environment ul li p{font-size: 22px;}
.introduce_wrap .consulting_wrap{position: relative;  padding: 50px 20px; background-color: #f0f0f0; text-align: center;}
.introduce_wrap .consulting_wrap p{font-size: 20px; margin-bottom: 10px;}
.introduce_wrap .consulting_wrap strong{display: block; font-size: 40px;}
.introduce_wrap .consulting_wrap ul li{font-size: 18px;}
.introduce_wrap .consulting_wrap .link_wrap{margin: 30px 0 0; display: flex; gap: 0 15px; justify-content: center;}
.introduce_wrap .consulting_wrap .link_wrap a{display: block; width: 150px; height: 45px; line-height: 43px; background-color: #000; color: #fff; text-align: center; border-radius: 5px;}

@media (max-width: 1200px){

    .sub_wrap.st .sub_img{height: 692px;}
    .sub_wrap.st .sub_tit .box{padding: 70px 35px 101px 35px;}
    .sub_wrap.st .sub_tit .box h3{margin-bottom: 82px; font-size: 36px;}
    .sub_wrap.st .sub_tit .box p{font-size: 24px;}

    .introduce_wrap .introduce_content .text_box h4{font-size: 32px;}
    .introduce_wrap .introduce_content .text_box p{font-size: 20px;}
    .introduce_wrap .introduce_content .text_box h5{font-size: 26px;}
    .introduce_wrap .introduce_content .text_box ul li{font-size: 18px;}
    .introduce_wrap .introduce_content .img_box .img{padding: 482px 542px 0 0;}

    .environment_wrap .environment h4{font-size: 35px;}
     
}

@media (max-width: 1024px){

    .sub_wrap.st .sub_img{height: 544px;}
    .sub_wrap.st .sub_tit .box{padding: 42px 35px 76px 26px;}
    .sub_wrap.st .sub_tit .box h3{margin-bottom: 38px; font-size: 28px;}
    .sub_wrap.st .sub_tit .box p{font-size: 20px;}

    .introduce_wrap .introduce_content{display: block;}
    .introduce_wrap .introduce_content .img_box{margin-bottom: 50px;}
    .introduce_wrap .introduce_content .img_box .img{background-position: center;}
    .introduce_wrap .introduce_content .text_box{text-align: center;}
    .introduce_wrap .introduce_content .text_box h4{display: inline-block; padding: 0 15px 25px; text-align: center; font-size: 26px;}
    .introduce_wrap .introduce_content .text_box ul{display: inline-block; text-align: left;}
    .introduce_wrap .introduce_content .text_box h5{font-size: 22px;}
    .introduce_wrap .introduce_content .text_box p{font-size: 18px;}
    
    .com_view{right: auto; left: 50%; transform: translateX(-50%); font-size: 16px;}
    .com_view::after{top: 4px;}

    .environment_wrap .environment{display: block; padding: 75px 0; text-align: center;}
    .environment_wrap .environment h4{margin-bottom: 80px; padding: 0 15px 25px; display: inline-block; font-size: 24px; text-align: center;}
    .environment_wrap .environment ul li{margin-bottom: 77px; padding: 95px 0 0;}
    .environment_wrap .environment ul li::before{top: 0; left: 50%; transform: translateX(-50%);}
    .environment_wrap .environment ul li:nth-child(3):before{top: 10px;}
    .environment_wrap .environment ul li h5{font-size: 22px;}
    .environment_wrap .environment ul li p{font-size: 18px;}

    .introduce_wrap .consulting_wrap p{font-size: 18px;}
    .introduce_wrap .consulting_wrap strong{font-size: 32px;}
    .introduce_wrap .consulting_wrap ul li{font-size: 16px;}
    .introduce_wrap .consulting_wrap{padding: 35px 20px;}
     
}

@media (max-width: 768px){

    .sub_wrap.st .sub_tit .box{padding: 30px 35px 50px 20px;}
    .sub_wrap.st .sub_tit .box h3{font-size: 24px;}
    .sub_wrap.st .sub_tit .box p{font-size: 18px;}

    .introduce_wrap .consulting_wrap p{font-size: 16px;}
    .introduce_wrap .consulting_wrap strong{font-size: 24px;}
    .introduce_wrap .consulting_wrap{padding: 25px 10px;}
    .introduce_wrap .consulting_wrap .link_wrap a{width: 126px; height: 40px; line-height: 38px;}

}

@media (max-width: 576px){

    .sub_wrap.st .sub_img{height: 420px;}
    .sub_wrap.st .sub_tit .box h3{font-size: 22px;}

    .introduce_wrap .introduce_content .img_box .img{padding: 306px 0 0 0;}
    .introduce_wrap .introduce_content .text_box h4{margin-bottom: 15px; padding: 0 10px 15px; font-size: 20px;}
    .introduce_wrap .introduce_content .text_box p{font-size: 16px;}
    .introduce_wrap .introduce_content .text_box h5{font-size: 20px;}
    .introduce_wrap .introduce_content .text_box ul li{padding-left: 12px; font-size: 16px;}
    .introduce_wrap .introduce_content .text_box ul li::before{width: 3px; height: 3px;}

    .environment_wrap .environment{padding: 52px 0;}
    .environment_wrap .environment h4{margin-bottom: 46px; padding: 0 10px 15px; font-size: 20px;}
    .environment_wrap .environment ul li h5{font-size: 20px;}
    .environment_wrap .environment ul li p{font-size: 16px;}
    .environment_wrap .environment ul li{margin-bottom: 52px; padding: 101px 0 0;}
    .environment_wrap .environment ul li::before{padding: 82px 82px 0 0;}

    .introduce_wrap .consulting_wrap strong{font-size: 20px;}

    .com_view{bottom: 30px;}

}

@media (max-width: 414px){

    .introduce_wrap .introduce_content .img_box .img{padding: 238px 0 0 0;}
    .sub_wrap.st .sub_tit .box{margin: 0 20px; left:0; right:0;}
}

@media (max-width: 360px){

    .environment_wrap .environment ul li p br{display: none;}

}

/* 독학반 */
.lesson_wrap .catalogue_wrap.st .img{background: url(../images/sub/img3.png)no-repeat center;}
.lesson_wrap .rayout_box{ margin: 118px 0; display: flex; justify-content: center;  gap: 0 100px;} 
.lesson_wrap .rayout_box .img{display: block; padding: 383px 590px 0 0; background-image: url(../images/sub/img01.png); background-repeat: no-repeat; background-size: 100% auto;}
.lesson_wrap .rayout_box p{font-size: 23px; color: #000;}
.lesson_wrap .rayout_box .text_box{padding-top: 150px; position: relative;}
.lesson_wrap .rayout_box .com_view{position: absolute; left:0; bottom: 0; right: auto; font-size: 20px;}

.lesson_wrap .rayout_box.st .text_box{padding-top: 246px;}
.lesson_wrap .rayout_box.st{flex-direction: row-reverse;}
.lesson_wrap .rayout_box.st .img{padding: 534px 590px 0 0; background-image: url(../images/sub/content_img.png);}

@media (max-width: 1200px){

    .lesson_wrap .rayout_box .img{padding: 295px 450px 0 0;}
    .lesson_wrap .rayout_box .text_box{padding-top: 98px;}

    .lesson_wrap .rayout_box.st .text_box{padding-top: 192px;}
    .lesson_wrap .rayout_box.st .img{padding: 452px 505px 0 0;}

}

@media (max-width: 1024px){

    .lesson_wrap .rayout_box{gap: 0 60px;}
    .lesson_wrap .rayout_box .com_view{transform: none; font-size: 18px;}
    .lesson_wrap .rayout_box .com_view::after{top: 6px;}
    .lesson_wrap .rayout_box p{font-size: 20px;}

    .lesson_wrap .rayout_box.st .text_box{padding-top: 154px;}
    .lesson_wrap .rayout_box.st .img{padding: 378px 421px 0 0;}

}

@media (max-width: 960px){

    .lesson_wrap .rayout_box .img{padding: 195px 300px 0 0;}
    .lesson_wrap .rayout_box .text_box{padding-top: 59px;}
    .lesson_wrap .rayout_box p{font-size: 18px;}
    .lesson_wrap .rayout_box .com_view{font-size: 16px;}
    .lesson_wrap .rayout_box.st .text_box{padding-top: 125px;}
    .lesson_wrap .rayout_box.st .img{padding: 302px 336px 0 0;}

}

@media (max-width: 680px){

    .lesson_wrap .rayout_box{flex-direction: column; align-items: center;}
    .lesson_wrap .rayout_box .img{background-size: auto 100%;}
    .lesson_wrap .rayout_box .text_box{padding-top: 40px;}
    .lesson_wrap .rayout_box .text_box p{margin-bottom: 80px;}
    .lesson_wrap .rayout_box{margin: 66px 0;}
    .lesson_wrap .rayout_box .com_view{left: 50%; transform: translateX(-50%);}

    .lesson_wrap .rayout_box.st{flex-direction: column;}
    .lesson_wrap .rayout_box.st .text_box{padding-top: 50px;}

}

@media (max-width: 414px){

    .lesson_wrap .rayout_box.st .img{padding: 261px 290px 0 0;}

}

/* 윈터스쿨 */
.lesson_wrap .catalogue_wrap.st2 .img{background: url(../images/sub/img5.png)no-repeat center;}
.lesson_wrap .catalogue_wrap.st2 .img{margin: 100px 0 30px;}

@media (max-width: 576px){

    .lesson_wrap .catalogue_wrap.st2 .img{margin: 80px 0 35px;}

}

/* tab */
.tab_content2 .img_box img{max-width: none!important;}
.tab_content2 img{display: block; width: 100%;}
.tab_content2 .img_box{position: relative;}
.tab_content2 .img_box img{display: block; width: 100%;}
.tab_content2 .img_box .view{display: none; width: 40px; height: 40px; position: absolute; bottom: 10px; right: 20px; background: url(../images/common/view.png) no-repeat;}

@media (max-width: 480px){

    .tab_content2 .img_box .view{display: block;}

}